:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --grey-text: #757575;
    --off-white: #FAF8F7;
    --just-white: #fff;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 320px; /*que el width no se va hacer mas chico que 320px*/
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img { /*utilizamos espeficidad*/
    width: 150px;
    height: 24px;
    margin-top: 80px;
    align-self: center; /*la manera como centrar a un elemento que tenga un contenedor que tenga flex*/
}
.header--title--container {
    width: 90%;
    min-height: 288px; /*nos e va hacer mas chico de 288px*/
    max-width: 900px; /*cuando llegue a los 900px va dejar de crecer*/
    height: 218px;
    margin-top: 30px;
    text-align: center;
    align-self: center;
}
.header--title--container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; /*el salto de linea del parrafo "cumple la funcion como un gap"*/
    color: var(--just-white);
}
.header--title--container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title--container .header--button {
    position: absolute;
    left: calc(50% - 116px); /*calcular para centrar*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 10px;
    background-image: url("/assets/icons/mdi.png");
    background-position: center;
    background-repeat: no-repeat;
}
main {
    width: 100%;
    height: auto; /*el mismo contenido va definiendo la altura*/
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px; /*nos ayuda hasta donde se va poder hacer chico*/
    max-width: 900px; /*limitar el crecimiento has 900px*/
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    aspect-ratio: 1;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("/assets/imgs/bitcoin.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--grey-text);
}

.main-currency-table {
    width: 80%;
    min-width: 235px; /*no queremos que la tabla se haga mas chica que 235px*/
    max-width: 500px; /*no queremos que la tabla se haga mas grande que 500px*/
    height: 320px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);

}
.currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 200px;
    margin: 0 auto;
}
.currency-table-container table {
    width: 100%;
    height: 100%;
}
.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);

}
.currency-table-container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table-container .table__top-right {
    border-radius: 0 15px 0 0;
}
.currency-table-container .table__botton-left {
    border-radius: 0 0 0 15px;
}
.currency-table-container .table__botton-right {
    border-radius: 0 0 15px 0;
}
.currency-table-container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: var(--grey-text);
}
.currency-table-container .down {
    display: inline-block; /*le tenemos que dar un display a los background para imagenes*/
    width: 15px;
    aspect-ratio: 1;
    margin-left: 10px;
    background-image: url("/assets/icons/trendingdown.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.currency-table-container .up {
    display: inline-block; /*le tenemos que dar un display a los background para imagenes*/
    width: 15px;
    aspect-ratio: 1;
    margin-left: 10px;
    background-image: url("/assets/icons/trendingup.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.currency-table--date span {
    font-weight: bold;
}

.currency-table2-container {
    width: 90%;
    min-width: 230px;
    max-width: 200px;
    height: 250px;
    margin: 0 auto;

}
.currency-table2-container table {
    width: 100%;
    height: 100%;
}
.currency-table2-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);

}
.currency-table2-container .table2__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table2-container .table2__top-right {
    border-radius: 0 15px 0 0;
}
.currency-table2-container .table2__botton-left {
    border-radius: 0 0 0 15px;
}
.currency-table2-container .table2__botton-right {
    border-radius: 0 0 15px 0;
}
.currency-table2-container .table2__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: var(--grey-text);
}
.currency-table2--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--secondary-blue);
    border-radius: 8px;
}
.currency-table2--date p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.currency-table2--date span {
    font-weight: bold;
}
.main-currency-table2 .currency-table2-title {
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.3rem;
    color: var(--secondary-blue);
}
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--batata--logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("/assets/icons/batata.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

}
.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card, .product-detail--card2, .product-detail--card3, .product-detail--card4 {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px; /*el minimo de altura sera 150px, pero si tu contenido crece crece con el*/
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock {
    display: inline-block;
    width: 20px;
    margin-bottom: 7px;
    aspect-ratio: 1;
    margin-top: 10px;
    background-image: url("/assets/icons/clock.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}



.product-detail--card2 .eye {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    margin-bottom: 7px;
    background-image: url("/assets/icons/eye.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product--card-title2, .product--card-title3, .product--card-title4 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body2, .product--card-body3, .product--card-body4 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card3 .dollar {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    margin-bottom: 7px;
    background-image: url("/assets/icons/dollar-sign.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.product-detail--card4 .check-circle {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    margin-bottom: 7px;
    background-image: url("/assets/icons/check-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("/assets/imgs/bitcoinbaby.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title {
    width: 90%;
    min-width: 288pxpx;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--card, .plans-container--card2, .plans-container--card3 {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 15px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

}
.recomendado, .recomendado2, .recomendado3 {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    left: calc(50% - 60px);

}
.plan-card--title, .plan-card--title2, .plan-card--title3 {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price, .plan-card--price2, .plan-card--price3 {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5rem;
    color: black;
}
.plan-card--price span, .plan-card--price2 span, .plan-card--price3 span {
    position: relative;
    bottom: 30px;
    right: 5px;
    font-size: 1.5rem;
    font-weight: 300;
}
.plan-card--saving, .plan-card--saving2, .plan-card--saving3 {
    font-size: 1.2rem;
    
}
.plan-card--ca, .plan-card--ca2, .plan-card--ca3 {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
    font-family: "DM", sans-serif;
}
.plan-card--ca span, .plan-card--ca2 span, .plan-card--ca3 span {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    background-image: url("/assets/icons/arrow-right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: bottom;

}
.plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll ;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.left li {
    margin: 10px 0;
}
.left a {
    color: var(--just-white);
}



